<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div id="landing">
    <h1>Welcome to ChatCord</h1>
    <a class="btn btn-primary block buttons" href="/login">Login</a>
    <p id="or">or</p>
    <a class="btn btn-primary block buttons" href="/signup">SignUp</a>
</div>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->