<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div>

    <h1>Welcome to ChatCord</h1>
    <button><a href="/login">Login</a></button>
    <p>or</p>
    <button><a href="/signup">SignUp</a></button>
</div>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->